.container__static {
  color: #CACACA;

  h1 {
    margin: 20px 30px;
  }

  a, a:visited, a:active {
    color: #CACACA;
  }

  .start {
    margin-top: 400px;
  }

  .break {
    height: 900px;
    background-image: linear-gradient(#888, #000);
  }

  .end {
    background-color: #000;

    h2 {
      margin: 0 30px;
      padding: 20px 0;

      &:first-of-type {
        margin-bottom: 700px;
      }
    }
  }
}
